<?xml version="1.0"?>
<config>
    <modules>
        <Pengo_Auth>
            <version>0.1.0</version>
        </Pengo_Auth>
    </modules>
    <frontend>
        <routers>
            <auth>
                <use>standard</use>
                <args>
                    <module>Pengo_Auth</module>
                    <frontName>auth</frontName>
                </args>
            </auth>
        </routers>
        <layout>
            <updates>
                <auth>
                    <file>pengoauth.xml</file>
                </auth>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <auth>
                <class>Pengo_Auth_Helper</class>
            </auth>
        </helpers>
        <blocks>
            <auth>
                <class>Pengo_Auth_Block</class>
            </auth>
        </blocks>
        <models>
            <auth>
                <class>Pengo_Auth_Model</class>
            </auth>
        </models>
    </global>
</config>